.sunburstContainer{
        padding-top:20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: small;
    
}

.sunburstContainerItem{
    display: inline-flex; 
    justify-content: space-between;
}
.bachelorForm{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    
}


