.App {
  font-family: 'Montserrat', sans-serif;
}

body{
  color: #404040;
  background-color: white;
}

h5{
  font-weight: 400;
}
h6{
  font-weight: 400;
}

p{
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

a{
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #404040;
}
