.App {
  font-family: 'Montserrat', sans-serif;
}

body{
  color: #404040;
  background-color: white;
}

h5{
  font-weight: 400;
}
h6{
  font-weight: 400;
}

p{
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}

a{
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #404040;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  text-align: center;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  margin-top: 15rem;
  border-radius: 10px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  color: #404040;
  cursor: pointer;
  border: none;
  background-color: transparent;
}