.radarContainer{
    display:flex;
    justify-content: center;
}

#radarChart{
    display: flex;
    height: 550px;
    width: 550px;
    padding: 20px, 20px, 0px, 20px;
    align-content: flex-end;
    flex-direction: column;
}

.radar{
    height: 550px;
    width: 550px;
}

