.sidenav {
    height: 100%;
    width: 120px;
    position: fixed;
    z-index: 1;
    /*top: 0;*/
    left: 0;
    background-color: #efefef;
    overflow-x: hidden;
    justify-content: center;
    /*box-shadow: 0px 3px 10px rgb(224, 224, 224);*/

  }
  
  .sidenav a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 25px;
    /*color: #818181;*/
    color: #404040;
    display: block;
  }
  
  .sidenav a:hover {
    /*color: #a5a5a5;*/
    color: #818181;

  }

  .iconContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10px;

}

.is-active{
  background-color: #ffffff;
}

.navbarIcon{
  font-size: 40px;
  cursor: pointer;

}

.project_introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logo_text{
  /*color:#C9AED2;*/
  color:#8D5496;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }