.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    /*top: 0;*/
    left: 0;
    background-color: #efefef;
    overflow-x: hidden;
    justify-content: center;
    /*box-shadow: 0px 3px 10px rgb(224, 224, 224);*/

  }
  
  .sidenav a {
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 25px;
    /*color: #818181;*/
    color: #404040;
    display: block;
  }
  
  .sidenav a:hover {
    /*color: #a5a5a5;*/
    color: #818181;

  }

  .iconContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10px;

}

.is-active{
  background-color: #ffffff;
}

.navbarIcon{
  font-size: 40px;
  cursor: pointer;

}

.project_introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logo_text{
  /*color:#C9AED2;*/
  font-size: 14px;
  color:#8D5496;
  margin-bottom: 30px;
}
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 16px;}
  }

  .searchCard {
    width: 30px;
    height:30px;
    background: url("searchBtn.png") no-repeat;
    background-size: 30px 30px;
    display: inline-block;
}
.searchCard:hover {
    background: url("searchBtnHover.png") no-repeat;
    background-size: 30px 30px;
}
.studyCard {
  width: 40px;
  height:40px;
  background: url("studyIcon.png") no-repeat;
  background-size: 40px 40px;
  display: inline-block;
}
.studyCard:hover {
  background: url("studyIconHover.png") no-repeat;
  background-size: 40px 40px;
}

.HWBtn{
  font-size: 30px;
  bottom:30px;
  position:absolute;
}